<div class="container top30">
  <div class="row">
    <div class="col-md-3">
      <img [src]="artist?.images | noImage" class="img-thumbnail img-circle">
    </div>

    <div class="col-md-9">
      <h1>{{artist?.name}}</h1>
      <hr>

      <a [href]="artist?.externar_urls?.spotify" class="btn btn-outline-success">Open on Spotify</a>
      <button [routerLink]="['/search']" type="button" class="btn btn-outline-danger">Back</button>
    </div>
  </div>

  <div class="row top30">
    <div class="col-md-12">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>#</th>
            <th>Picture</th>
            <th>Name</th>
            <th>Popularity</th>
            <th>Play</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of tracks; let i = index">
            <td>{{i + 1}}</td>
            <td>
              <img [src]="track.album.images | noImage" class="img50">
            </td>
            <td>{{track.name}}</td>
            <td>{{track.popularity}}%</td>
            <td>
                <iframe [src]="track.uri | domseguro: 'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>